<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./resources/css/music_player.css">
        <script src="./resources/js/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="./resources/js/music_player.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
        <script src="./resources/js/playlist.js"></script>
    </head>

    <body ng-app="playlistApp">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="homePage.html"><img id="piclogo" src="./resources/playtwist.GIF" width="130" height="90" class="d-inline-block align-top"
                draggable="false" alt="PlayTwist logo" /></a>
                <ul class="nav justify-content-end" id="myNavBar">
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="userPage.html">Account</a>
                    </li>
                </ul>
        </nav>
        <div id="playlist-content" class="float-left">
            <ul class="list-group" ng-controller="playlistController">
                <input ng-model="track"></input>
                <button class="btn" ng-click="getSong()">Search</button>
                <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="track in music_data | orderBy: 'downvotes-upvotes'">
                    {{$index+1}}. {{track.name}}
                    <span class="badge badge-primary badge-pill upvote" ng-click="track.upvotes = track.upvotes+1">{{track.upvotes}} &#128150;</span>
                    <span class="badge badge-primary badge-pill downvote" ng-click="track.downvotes = track.downvotes+1">{{track.downvotes}} &#128148;</span>
                </li>
            </ul>
            <li class="list-group-item list-group-item-action list-group-item-info">Save this Play List</li>
        </div>
        <div id="friend-cotent" class="float-right">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">friend1</li>
                <li class="list-group-item list-group-item-secondary">friend2</li>
            </ul>
        </div>
	    <div>
            <form class="join">
                <input type="text" placeholder="Search..." name="search" id="searchInput">
                <button id="searchBtn" type="button"><i class="fa fa-search"></i> Search</button>
            </form>
        </div>
        <div class="container-flex">
            <ul id="searchResult" class="mx-auto list-group" style="width: 40%;">
            </ul>
        </div>
        <div id="app-cover">
            <div id="player">
                <div id="player-track">
                    <div id="album-name"></div>
                    <div id="track-name"></div>
                    <div id="track-time">
                        <div id="current-time"></div>
                        <div id="track-length"></div>
                    </div>
                    <div id="s-area">
                        <div id="ins-time"></div>
                        <div id="s-hover"></div>
                        <div id="seek-bar"></div>
                    </div>
                </div>
                <div id="player-content">
                    <div id="album-art"></div>
                    <div id="player-controls">
                        <div class="control">
                            <div class="button" id="play-previous">
                                <i class="fa fa-backward"></i>
                            </div>
                        </div>
                        <div class="control">
                            <div class="button" id="play-pause-button">
                                <i class="fa fa-play"></i>
                            </div>
                        </div>
                        <div class="control">
                            <div class="button" id="play-next">
                                <i class="fa fa-forward"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
        
		<section class="container-flex" id="bottomBox">
			<h2>Play Queue</h2>
			<p>Click song to remove</p>
			<ol id="queue" type="1"></ol>
		</section>
    </body>
</html>
