#navigation-bar{
    height:90px;
    width:100%;
}

#logo{
    width:130px;
    height:90px;
}

.login{
    color:#d1b3ff;
}

.register{
    color:#d1b3ff;
}

#playlist-content{
    border:2px double #d1b3ff;
    border-radius: 2px;
}
