/* this will be the css for the home page */
/*Navbar---------------------------------*/
.navbar{
    background-color: white;
    height: 110px;
}
body{
    /* background-color: #333333; */
    background-color: #d1b3ff;
    font-family: 'Raleway', sans-serif;
}
footer{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    height: 20px;
    background-color: white;
    text-align: center;
}
#main{
    width: 100%;
    height: 150px;
    /* background-color: #d1b3ff; */
    border-radius: 10px;
}
#private{
    width: 100%;
    height: 300px;
    /* background-color: lightgrey; */
    border-radius: 10px;
}
#collaborative{
    width: 100%;
    height: 300px;
    /* background-color: lightgrey; */
    border-radius: 10px;
}
#first{
    margin-left: 10px;
    width: 70%;
    display: inline-block;
    border: 1px solid black;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
}
#second{
    margin-left: 10px;
    width: 23%;
    display: inline-block;
    border: 1px solid black;
    height: 870px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    float: right;
}
#edit_bar{
    width: 100%;
    height: 100px;
    /* background-color: lightgrey; */
    border-radius: 10px;
}
#username{
    text-align: left;
    /* padding: 10px; */
    margin-left: 40px;
}
#active{
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 30px;

}
#user_image{
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    float: left;
    margin: 20px;
}
.friend_name{
    margin-top: 30px;
    display: inline-block;
}
#prof_image{
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    float: left;
    margin: 20px;
    /* padding: 20px; */
}
#playlist_image{
    display: inline-block;
    max-height: 150px;
    max-width: 150px;
    width: auto;
    height: auto;
    float: left;

}
.edit_button{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    /* display: inline-block; */
    float: left;
}
.create{
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;

}
.join{
    margin-top: 50px;
    text-align: center;
}
#search{
    padding: 10px;
    border-radius: 25px;
    width: 50%;
}
#search_button{
    padding: 10px;
    border-radius: 25px;

}
#slogan{
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 60px;
}
.col-sm{
    margin-left: 10px;
    width: 25%;
    display: inline-block;
    /* border: 1px solid black; */
    /* height: 100%; */
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
}
/* .navbar-toggler{
    padding: 20px;
} */
#link{
    margin-right: 150px;
    font-size: 17px;
}
#nav_button{
    padding: 20px;
    float: right;
    margin: 10px;
    display: none;
}

#navbarBtn:hover {
	border-color: rgb(187, 186, 186);
	color:white;
	background-color: rgb(187, 186, 186);
}
#piclogo{
    margin-right: 100px;
}
.navbar-nav{
    float: right;
    margin-top: 40px;

}
.navbar-nav .nav-item .nav-link {
	font-size:1.1rem;
	color:rgb(137, 137, 137);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
	color:rgb(187, 186, 186);
}

#navbar-toggler {
	font-size:1.1rem;
	color:rgb(137, 137, 137);
	border: 1px solid;
	border-color: rgb(137, 137, 137);
	border-radius: 5px;
	background-color: white;
    padding: 3px 7px 3px 7px;
    display: none;
}
@media only screen and (max-width: 770px){
    #nav_button.navbar-toggler{
        display: block;
    }
}
/*
#navbarBtn:hover {
	border-color: rgb(187, 186, 186);
	color:white;
	background-color: rgb(187, 186, 186);
}

#navbarSignupBtn {
	color:white;
	background-color:rgb(137, 137, 137);
}

#navbarSignupBtn:hover {	
	background-color:rgb(187, 186, 186);
}

#navbarSignupBtn:focus {
	box-shadow:none;
}

#modalSignupBtn {
	background-color: rgb(106,191,247);
	color:white;
}

#modalSignupBtn:hover {
	background-color: rgb(143, 210, 255);
} */